*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
	font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  
    margin: auto;
  width: 1100px;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
