
/* Дополнительные стили */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/ .6);
  height: 100%;
  z-index:-1;
}

.listStyle-none {
  list-style: none;
}

.textDecoration-OFF {
  text-decoration: none;
}

.underline-black {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-color: black;
}


/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: center;
  align-items: center;

  min-width: 1100px;
  min-height: 293px;
  padding: 0 50px 0;

  font-size: 18px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  list-style: circle;
  margin-bottom: 5px;
  gap: 32px;

  text-transform: lowercase;
}

.header__logo {
  display: block;
  width: 136px;
}

/* Address */
.address__header {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-self: end;
  padding-right: 5px;

  padding-top: 4px;
  line-height: 24px;
  font-style: normal;
}

.address_listStyle {
  list-style: none;
}

.address_text-maxWidth {
  max-width: 235px;
  white-space: pre-nowrap;
}


/* Main */
.main {
  display: grid;
  min-width: 1100px;
}


/* Cover */
.cover {
  display: flex; 
  flex-direction: column;
  
  position: relative;
  min-width: 1100px;
  min-height: 757px;
  background-image: 
    url("../images/cover.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  margin: 165px 50px 0;

  text-transform: uppercase;

  font-size: 100px;
  color: white;
  letter-spacing: 30px;
  
  gap: 18px;
}

.text-left {
  align-self: flex-start;
  margin-right: -30px
}

.text-center {
  align-self: center;
  margin-right: -30px
}

.text-right {
  text-align: right;
  margin-right: -30px
}


.cover__desciption {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 104px 50px 50px;

  text-transform: uppercase;

  font-size: 22px;
  color: white;
}

.cover__desciption-text {
  word-spacing: 19px;
}

.bet-botton {
  border: 1px solid white;
  background: transparent;
  color: white;
  padding: 12px 32px;
  
  text-transform: uppercase;
}


/* Lots */
.lots {
  margin-top: 180px;
  padding: 0 24px 0;
  min-width: 1052px;
  min-height: 723px;
}

.lots__title {
  display: block;
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 25px;
}

.lost__card {
  position: relative;
  width: 100%;
  min-height: 596px;
}

.lots__card-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  width: 334px;
  min-height: 596px;

  padding: 48px 40px;
  margin-top: 27px;
  color: white;
  
  background-size: cover;
  background-position: center;
}

.lots__card-title {
  min-height: 100%;

  line-height: 120%;
  font-size: 22px;
  font-style: 400;
  text-transform: uppercase;
  font-weight: 700;

  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  text-decoration-color: white;
  
}

.lots__card-item {
  min-height: 100%;

  font-size: 20px;
  text-decoration: none;

  line-height: 120%;
}

.lot-film__img {
  background-image: url(../images/card-lot-01.jpg);
  z-index: 0;
}

.lot-book__img {
  background-image: url(../images/card-lot-02.jpg);
  z-index: 0;
}

.lot-pictures__img {
  background-image: url(../images/card-lot-03.jpg);
  z-index: 0;
}

.lots__more {
  font-size: 20px;
  margin: 30px 0 0 40px;
}


/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 120px;
  padding: 0 24px 0;
  min-width: 1052px;
  min-height: 595px;
}

.about__logo {
  display: grid;
  place-items: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;

  margin-top: 35px;
  margin-right: 15px;
}

.about__logo-img {
  max-width: 148px;
  max-height: 114px;
}

.about__column {
  margin-left: 8px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;

  padding-top: 135px;
}

.about__section-description {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 408px;
  width: 690px;
  gap: 20px;
}

.about__description {
  display: block;
  font-size: 20px;
}


/* Footer */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content:space-around;
  margin-top: 180px;
  min-width: 1100px;
  min-height: 180px;
  padding: 0 50px 0;

  font-size: 18px;
}

.address__footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  font-style: normal;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;

  list-style: none;
}

.footer__social-links {
  display: flex;
  justify-content: end;
}

.footer__social-icon {
  width: 48px;
  margin-left: 48px;
}